---
import "../styles/global.css";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Ekraf Purwakarta" />

<!-- Favicon guidelines generated with https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/apple-touch-icon.png" />

<link rel="mask-icon" href="/favicon.svg" color="#3E433E" />
<meta name="msapplication-TileColor" content="#3E433E" />
<meta name="theme-color" content="#3E433E" />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<title>Pasar Kreatif Purwakarta</title>

<meta
  name="description"
  content="Pasar Kreatif Purwakarta 2024"
/>

<meta property="og:type" content="website" />
<meta property="og:title" content="Pasar Kreatif Purwakarta" />
<meta
  property="og:description"
  content="Pasar Kreatif Purwakarta 2024"
/>
<meta property="og:url" content="https://pasarkreatif.ekrafpurwakarta.com/" />
<meta property="og:site_name" content="Pasar Kreatif Purwakarta" />
